@media only screen and (min-width: 600px) {
  .films-container {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    h1 {
      color: white; 
      margin-bottom: 0;
    }
    h2 {
      font-size: 23px;
      color: white;
      margin-top: 10px;
      margin-bottom: 25px;
    }
    h3 {
      font-size: 20px;
      color: white;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}
