
.about-container {
    background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  h1 {
    color: black;
  }
  img{
    width: 800px;
  }
  .about-me{
    margin-top: 60px;
    margin-bottom: 100px;
  p{
    color: black;
  }
}
}
