@media only screen and (max-width: 600px) {
  //homepage
  .body {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .vid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "overlap";
    height: 100vh; // full viewport height

    .homevid {
      grid-area: overlap;
      width: 100vw;
      height: 100vh; // full viewport height
      object-fit: cover;
    }
    .name-container {
      grid-area: overlap;
      place-self: center;
      width: fit-content;
      height: fit-content;
      z-index: 2;
      transform: translateY(15vh);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .name {
        color: rgb(255, 255, 255);
        font-size: 32px;
        margin-bottom: 0;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        width: 100%;
        text-align: center;
      }
      .description {
        margin-top: 0;
        font-size: 15px;
        color: white;
        font-weight: 300;
        text-shadow: 1px 1px 2px black;
      }
    }
  }

  //info

  //films
  .films-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    h1 {
      color: white;
    }
  }

  .videos-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    gap: 40px;

    h1 {
      color: white;
    }
    .film-vid-thumbnail {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "overlap";

      .thumbnail {
        width: 100%;
        grid-area: overlap;
        border-radius: 10px;
      }
      .film-vid-name {
        font-family: "Secular One", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0;
        color: white;
      }
      .play-button {
        grid-area: overlap;
        position: relative;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        width: 80px;
        height: 80px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .film-vid {
      width: 100%;
    }
  }

  //about
  .about-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    h1 {
      color: black;
    }
    img {
      width: 90%;
      border-radius: 5px;
    }
    .about-me {
      margin-top: 20px;
      margin-bottom: 40px;
      margin-left: 5px;
      p {
        color: black;
      }
    }
  }

  //contact
  @mixin icon {
    width: 45px;
    margin: 20px;
    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .contact-information {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "overlap";

      .digits {
        display: flex;
        flex-direction: column;
        z-index: 4;
        color: rgb(255, 209, 43);
        text-shadow: 2px 2px 3px rgb(160, 4, 4);
        grid-area: overlap;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        .icons {
          display: flex;
          justify-content: space-between;
          .icon1 {
            @include icon();
          }
          .icon2 {
            @include icon();
            background-color: white;
            border-radius: 10px;
            padding: 1px;
          }
        }
      }
      .frame {
        position: relative;
        z-index: 2;
        grid-area: overlap;
        width: 100%;
      }
      .painting {
        position: relative;
        z-index: 1;
        grid-area: overlap;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        top: 18%;
      }
    }
    h1 {
      color: white;
    }
  }
}
